<div class="container">
  <h1>Welcome to the Screwpress Blog Engine!</h1>
  <h2>The best blog engine on the planet</h2>
  <a href="/write"><button>Write Post??</a></button>
  <% if @posted %>
  <p>Thank you for posting the blog entitled <em>"<%= @posted.title %>"</em>.</p>
  <% end %>
  <% if @posts %>
    <% @posts.reverse.each do |post| %>
      <hr>
      <div class="indiv_post">
        <h3><%= post.title %></h3>
        <h4><%= post.author %></h4>
        <article><%= post.text %></article>
      </div>

    <% end %>
  <% else %>
    <p>What a boring blog... someone should write some articles!</p>
  <% end %>
</div>
