<div class="container">
  <h1>Welcome to the Screwpress Blog Engine!</h1>
  <h2>The best blog engine on the planet</h2>
      <div class="indiv_post">
        <h3><%= @post.title %></h3>
        <h4><%= @post.author %></h4>
        <article><%= @post.text %></article>
      </div>
  <a href="/">Back to index</a>
</div>
