<div class="container">
  <h1>Write a post please</h1>
  <form method="post" action="/write">
    <input type="text" name="title" placeholder="Title">
    <input type="text" name="author" placeholder="Author">
    <input type="text" name="text" placeholder="Content goes here">
    <button type="submit">Post this</button>
  </form>
</div>
